# Dependências que devem ser instaladas no container
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de desenvolvimento
.git
.github/
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output

# Arquivos de sistema
.DS_Store
Thumbs.db

# Diretórios de build
dist/
build/

# Arquivos de teste
test/
*.test.js
*.spec.js

.devcontainer/
.docker/dbdata
.docker/filebeatdata
.docker/elk
.docker/rabbitmq
.docker/.gitignore
coverage/
envs/
*.sqlite
docker-compose*.yaml
docker-compose*.yml
micro-admin-typescript-470411-a74521f157cd.json
create-rsa.js
generate-token.js
micro_videos/
Dockerfile
Dockerfile.prod
